$primary-color: rgba(87, 183, 242, 1);
$additional-color: rgba(217, 217, 217, 1);
$font-size-large: 5rem;
$font-size-medium: 2rem;
$font-size-small: 1.6rem;

$desktop: 1920px;
$l-Laptop: 1440px;
$s-Laptop: 1200px;
$tablet: 768px;
$mobile: 375px;